<% content_for(:contact_navigation) do %>
  <div class="span-4 last">
    <h6>Phone Number Revisions (<%= @phone_number.revisable_number %>)</h6>

  <% if @phone_number.revisions.empty? %>
    <p><em>This is the first version of this phone number.</em></p>
  <% else %>
    <% form_tag phone_number_revisions_path, :method => :get do %>
      <select name="id">
        <% @phone_number.revisions.each do |pnvr| %>
          <option value="<%= pnvr.id %>">
            Version <%= pnvr.revisable_number %>
            (<%= pnvr.revisable_current_at.strftime "%m/%d/%y" %>)
          </option>
        <% end %>
      </select>
    <%= submit_tag "go"  %>
    <% end %>
  <% end %>

    <p>
      current version modified on <%= @phone_number.updated_at %>
    </p>
  </div>
<% end %>
