<% if params[:q] %>
  <h2><em>search terms:</em> <%= params[:q] %></h2>
<% end %>

<%= form_tag search_contacts_path, :method => :get do %>
  <%= text_field_tag 'q', params[:q] %>
  <%= submit_tag 'search contacts' %><br/>
  <em>narrow to:</em>
  <% [:first_name, :last_name, :agency, :division, :state, :email].each do |att| %>
    <%= check_box_tag "fields[#{att.to_s}]", 1,
            (params[:fields] and (params[:fields][att] == "1")) %> <%= att.to_s.humanize %> &nbsp;
  <% end %>
<% end %>

<table class="nice_table tablesorter">
  <thead>
    <tr>
      <th>Full Name</th>
      <th>State</th>
      <th>Email</th>
      <th style="border: 1px #CCF dashed; text-align:center">Manage</th>
    </tr>
  </thead>
  <tbody>
  <% for contact in @deleted_contacts %>
    <tr style="background-color: #f5c6d7;">
      <td><%= link_to contact.name, contact_path(contact) %></td>
      <td><%= contact.state %></td>
      <td>
        <% unless contact.email.blank? %>
          <%= mail_to contact.email, contact.email, :encode => "javascript" %>
        <% end %>
      </td>
      <td><%= link_to 'restore', restore_contact_revision_path(contact),
                  :confirm => 'Are you sure you want to restore this deleted contact?',
                  :method => "post",
                  :class => 'fake_button' %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<script type="text/javascript">
$(document).ready(function()
  {
    $(".nice_table").tablesorter( { widgets: ['zebra'], headers: { 3:{sorter: false}, 4:{sorter: false}, 5:{sorter: false}} });
  }
);
</script>
