<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>Address Book</title>
    <%= csrf_meta_tag %>
    <%= stylesheet_link_tag "blueprint/screen", :media => "screen, projection" %>
    <%= stylesheet_link_tag "blueprint/print", :media => "print" %>
    
    <!--[if lt IE 8]>
      <%= stylesheet_link_tag "blueprint/ie", :media => "screen, projection" %>
    <![endif]-->
    
    <%= stylesheet_link_tag address_book_stylesheet_includes %>
    <%= javascript_include_tag address_book_javascript_includes %>
    <%= yield :javascript %>
  </head>
  <body>
    <div class="container">
      <div class="top-banner span-24 last">
        <div class="header span-14">
          <h1>Address Book</h1>
        </div>
      </div>

      <div class="base_content span-20">
        <%= render :partial => 'address-book-shared/flash', :object => flash %>
        <div class="inner_content">
          <%= yield %>
        </div>
      </div>

      <div class="span-4 last">
        <div class="sidebar">
          <%= render :partial => 'address-book-shared/navigation', :locals => {
            :contact => @contact,
            :phone_number => @phone_number
          } %>
        </div>

      </div>
    </div>
  </body>
</html>

